<div class="columns is-marginless">
  <div class="column">
    <div class="box">
      <div class="field">
        <label class="label">Färdigvarulager</label>
        <div class="control">
          <div class="select">
            <select>
              <option selected value="0">Välj lager</option>
              <option
                *ngFor="let location of stockLocations"
                value="{{ location.stockNumber }}"
                >{{ location.city }}</option
              >
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Produkt</label>
        <div class="control">
          <div class="select">
            <select>
              <option selected value="0">Välj produkt</option>
              <option
                *ngFor="let product of products"
                value="{{ product.id }}"
                >{{ product.name }}</option
              >
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Typ av leverans & kvantitet</label>
        <div class="control">
          <div class="select">
            <select>
              <option value="1" selected>inleverans</option>
              <option value="-1">utleverans</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <label>Kvantitet</label> -->
      <div class="field has-addons">
        <!-- <label class="label">Kvantitet</label> -->
        <div class="control">
          <input class="input" type="text" />
        </div>
        <div class="control">
          <a class="button is-success">
            +1
          </a>
        </div>
        <div class="control">
          <a class="button is-danger">
            -1
          </a>
        </div>
      </div>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button class="button is-link">Registrera</button>
        </div>
      </div>
    </div>
  </div>
</div>
