<div class="columns is-marginless">
  <div *ngIf="!(transactionSuccess || transactionFail)" class="column">
    <app-transaction-current-status *ngIf="currentSelectionStatusIsSet" [currentSelectionStatus]="currentSelectionStatus"></app-transaction-current-status>
  </div>
</div>
<div class="columns is-marginless">
  <div *ngIf="transactionSuccess || transactionFail" class="column">
    <div class="box has-text-centered">
      <div *ngIf="transactionSuccess" class="notification is-success">
        {{ transactionResponseMsg }}
      </div>
      <div *ngIf="transactionFail" class="notification is-danger">
        {{ transactionResponseMsg }}
      </div>
      <button class="button is-link" (click)="newTransaction()">
        Registrera leverans
      </button>
    </div>
  </div>
  <div *ngIf="!(transactionSuccess || transactionFail)" class="column">
    <app-transaction-form (currentSelection)="getCurrentStorageStatus($event)" (transactionSuccess)="transactionRespons($event)"></app-transaction-form>
  </div>
</div>
